# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Turbo / Cache build steps
.turbo/

# Environment variables / Secrets
.env
.env.local
.env.*.local

# OS logs
.DS_Store