N8N_NEON_DB_POSTGRESDB_HOST=
N8N_NEON_DB_POSTGRESDB_PORT=
N8N_NEON_DB_POSTGRESDB_DATABASE=
N8N_NEON_DB_POSTGRESDB_USER=
N8N_NEON_DB_POSTGRESDB_PASSWORD=
N8N_NEON_DB_POSTGRESDB_SSL_ENABLED=


N8N_LOCAL_DB_TYPE=
N8N_LOCAL_DB_POSTGRESDB_HOST=
N8N_LOCAL_DB_POSTGRESDB_PORT=
N8N_LOCAL_DB_POSTGRESDB_DATABASE=
N8N_LOCAL_DB_POSTGRESDB_USER=
N8N_LOCAL_DB_POSTGRESDB_PASSWORD=

RAILWAY_N8N_API_KEY=
RAILWAY_N8N_WORKFLOWS_URL=